{
    "name": "ball-jump",
    "filename": "34-ball-jump.wav",
    "root_note": 60,
    "micropitch": 0,
    "length": 2000,
    "frame_count": 88200.0,
    "loop_start": 0,
    "loop_end": 0,
    "format": {
        "bit_depth": 16,
        "sample_rate": 44100,
        "channels": 2
    },
    "wav_filename": "34-ball-jump.wav"
}