{
    "name": "boing00",
    "filename": "35-boing00.wav",
    "root_note": 60,
    "micropitch": 0,
    "length": 331,
    "frame_count": 31741.0,
    "loop_start": 0,
    "loop_end": 0,
    "format": {
        "bit_depth": 32,
        "sample_rate": 96000,
        "channels": 2
    },
    "wav_filename": "35-boing00.wav"
}