{
    "name": "boing04",
    "filename": "67-boing04.wav",
    "root_note": 60,
    "micropitch": 0,
    "length": 346,
    "frame_count": 15269.0,
    "loop_start": 0,
    "loop_end": 0,
    "format": {
        "bit_depth": 32,
        "sample_rate": 44100,
        "channels": 2
    },
    "wav_filename": "67-boing04.wav"
}