{
    "name": "portal_loop04",
    "filename": "76-portal_loop04.wav",
    "root_note": 60,
    "micropitch": 0,
    "length": 1669,
    "frame_count": 73611.0,
    "loop_start": 0,
    "loop_end": 0,
    "format": {
        "bit_depth": 32,
        "sample_rate": 44100,
        "channels": 1
    },
    "wav_filename": "76-portal_loop04.wav"
}