{
    "name": "temp_transposed",
    "filename": "90-temp_transposed.wav",
    "root_note": 60,
    "micropitch": 0,
    "length": 3429,
    "frame_count": 164571.0,
    "loop_start": 0,
    "loop_end": 0,
    "format": {
        "bit_depth": 32,
        "sample_rate": 48000,
        "channels": 2
    },
    "wav_filename": "90-temp_transposed.wav"
}